@model Periodical.BL.DataTemporaryModels.HostDTO
@{
    ViewBag.Title = "AdminAccount";
    Layout = "~/Areas/User/Views/Shared/_LayoutPage(UserAccountPage).cshtml";
}


<article id="userAccountBackground">
    <hr />
    <section id="userInfo">
        <div id="userPhotoContainer">
        </div>
        <div id="infoContainer">
            <span>
                <h3>@Html.DisplayFor(model => model.Name)</h3>
            </span>
            <hr />
            <span>
                <p><b>Email: </b>@Html.DisplayFor(model => model.Email)</p>
            </span>
            <hr />
            <div id="subBut2" class="userBtn">@Html.ActionLink("Edit account", "EditAdmin", "AdminAccount")</div>
        </div>
    </section>
    <hr />
    <section>
        <h2 class="parName">Blocked users</h2>
        <hr />
        @foreach (var host in ViewBag.BlockedUsers)
        {
            <div id="userPhotoContainer2">
            </div>
            <div id="userMagazineInfo">
                <h3><b>@host.Name</b></h3>
                <hr />
                <p><b>Email: </b>@host.Email</p>
                <hr />
                <div id="subBut2" class="userBtn">@Html.ActionLink("Unlock", "UnlockUser", "AdminAccount", new { Id = host.Id }, null)</div>
            </div>
            <hr />
        }
        <h2 class="parName">Unlocked users</h2>
        <hr />
        @foreach (var host in ViewBag.UnlockedUsers)
        {
            <div id="userPhotoContainer2">
            </div>
            <div id="userMagazineInfo">
                <h3><b>@host.Name</b></h3>
                <hr />
                <p><b>Email: </b>@host.Email</p>
                <hr />
                <div id="subBut2" class="userBtn">@Html.ActionLink("Block", "BlockUser", "AdminAccount", new { Id = host.Id }, null)</div>
            </div>
            <hr />
        }
    </section>
    <br />

</article>

