@model Periodical.BL.DataTemporaryModels.MagazineDTO
@{
    Layout = "~/Views/Shared/_LayoutPage(RegistrationLogin).cshtml";
}

<div id="headerName5">
    <div id="headerContainer" class="paticularBook">
        <div class="userMagazine">
            <div id="magazinePhotoContainer2">
            </div>
            <div id="userMagazineInfo2">
                <h3><b>@Html.DisplayFor(model => model.MagazineName)</b></h3>
                <hr />
                <p><b>Publish date: </b>@Html.DisplayFor(model => model.PublishDate)</p>
                <hr />
                <p><b>Price: </b>@Html.DisplayFor(model => model.Price)</p>
                <hr />
                <b>Description: </b><br /><br />
                <p>@Html.DisplayFor(model => model.Description)</p>
                <div id="subBut2" class="userBtn">@Html.ActionLink("Buy magazine", "AddUserMagazine", "Home", new { Id = @Html.DisplayFor(model => model.Id) }, null)</div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


