@model Periodical.BL.DataTemporaryModels.HostDTO
@using Periodical.BL.DataTemporaryModels
@{
    ViewBag.Title = "UserAccount";
    Layout = "~/Areas/User/Views/Shared/_LayoutPage(UserAccountPage).cshtml";
}

<article id="userAccountBackground">
    <hr />
    <section id="userInfo">
        <div id="userPhotoContainer">
        </div>
        <div id="infoContainer">
            <span>
                <h3>@Html.DisplayFor(model => model.Name)</h3>
            </span>
            <hr />
            <span>
                <p><b>Email: </b>@Html.DisplayFor(model => model.Email)</p>
            </span>
            <hr />
            <span>
            <p><b>Wallet: </b>@Html.DisplayFor(model => model.Wallet)</p>
            </span>
            <hr />
            <div id="subBut2" class="userBtn">@Html.ActionLink("Get more money", "EditWallet", "UserAccount")</div>
            <div id="subBut2" class="userBtn">@Html.ActionLink("Edit account", "EditUser", "UserAccount")</div>
        </div>
    </section>
    <hr />
    <section>
        <h2 class="parName">Your magazines</h2>
        <hr />
        @foreach (MagazineDTO magazine in ViewBag.Magazines)
        {
        <section class="userMagazine">
            <div id="magazinePhotoContainer">
            </div>
            <div id="userMagazineInfo">
                <h3><b>@magazine.MagazineName</b></h3>
                <hr />
                <p><b>Publish date: </b>@magazine.PublishDate</p>
                <hr />
                <b>Description: </b><br /><br />
                <p>@magazine.Description</p>
                <div id="subBut2" class="userBtn">@Html.ActionLink("Delete magazine", "DeleteUserMagazine", "UserAccount", new { Id = magazine.Id }, null)</div>
            </div>
        </section>
        <hr />
        }
    </section>
    <br />

</article>


